{
	"extends": "eslint:recommended",
	"env": {
		"browser": true,
		"es6": true,
	},
	"parserOptions": {
		"ecmaVersion": 2017
	},
	"globals": {
		"browser": "readonly",
		"Sanitizer": "readonly",
	},
	"rules": {
		"no-console": 0
	}
}